<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>KartVision - 履歴</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/history.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/history.js') }}"
      defer
    ></script>
  </head>
  <body>
    <header>
      <a href="{{ url_for('home') }}" class="home-button">ホームに戻る</a>
      <h1>KartVision - 履歴</h1>
    </header>
    <div class="container">
      <div class="date-list">
        {% for date in dates %}
        <div class="date-item" onclick="toggleImages('{{ date }}')">
          <div class="date-icon">📅</div>
          <div class="date-text">
            {{ date[:4] }}年{{ date[4:6]|int }}月{{ date[6:8]|int }}日
          </div>
        </div>
        <div id="images-{{ date }}" class="hidden">
          <div class="image-grid">
            {% for image in images_by_date[date] %}
            <div class="image-item">
              <a href="{{ url_for('static', filename=image) }}" target="_blank">
                <img
                  src="{{ url_for('static', filename=image) }}"
                  alt="Screenshot"
                />
              </a>
              <div class="timestamp">
                {{ image.split('_')[2].replace('.png', '')[:2] }}時{{
                image.split('_')[2].replace('.png','')[2:4] }}分{{
                image.split('_')[2].replace('.png','')[4:6] }}秒
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
